// =====================================================
// Fonts declaration
// =====================================================
@mixin font-fancy() {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
}
@mixin font-light() {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}
@mixin font-regular() {
  font-family: 'Montserrat', 'Avenir', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-p() {
  color: $darkgreen;
  @include font-regular();
  font-size: 20px;
  line-height: 27px;
}
// =====================================================
// Applying fonts
// =====================================================
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
h1,
h2,
h5 {
  @include font-fancy();
  text-align: center;
}
h1 {
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 10px;
  br {
    display: none;
  }
  @include sm {
    font-size: 34px;
    line-height: 40px;
    br {
      display: block;
    }
    span {
      display: none;
    }
  }
  @include xs {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
h2 {
  color: $darkgreen;
  font-size: 30px;
  margin-bottom: 0;
  @include sm {
    font-size: 60px;
  }
  @include xs {
    font-size: 45px;
  }
}
h5 {
  font-size: 30px;
  @include xs {
    font-size: 25px;
  }
}
h3,
h6 {
  @include font-regular();
}
h4 {
  @include font-fancy();
  border-top: 1px solid $darkgreen;
  display: inline-block;
  padding-top: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: $darkgreen;
  font-size: 30px;
  @include xs {
    font-size: 25px;
  }
}
p,
ul {
  @include font-p();
}
ul {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
  li {
    padding-left: 15px;
    background-image: url('assets/arrow-right.svg');
    background-position: 0px 50%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
  }
}
a {
  text-decoration: none;
}
