// =====================================================
// Fonts declaration
// =====================================================
@mixin font-fancy() {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
}
@mixin font-light() {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}
@mixin font-regular() {
  font-family: 'Montserrat', 'Avenir', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-p() {
  color: $darkgreen;
  @include font-regular();
  font-size: 20px;
  line-height: 27px;
}
// =====================================================
// Applying fonts
// =====================================================
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
h1, h2, h5 {
  @include font-fancy();
  text-align: center;
}
h1 {
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  @include sm {
    font-size: 70px;
  }
  @include xs {
    font-size: 45px;
  }
}
h2 {
  color: $darkgreen;
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 70px;
  @include sm {
    font-size: 60px;
  }
  @include xs {
    font-size: 45px;
  }
}
h5 {
  font-size: 30px;
  @include xs {
    font-size: 25px;
  }
}
h3, h6 {
  @include font-regular();
}
h4 {
  @include font-fancy();
  border-top: 1px solid $darkgreen;
  display: inline-block;
  padding-top: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: $darkgreen;
  font-size: 30px;
  @include xs {
    font-size: 25px;
  }
}
p, ul {
  @include font-p();
}
ul {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
  li {
    padding-left: 15px;
    background-image: url('assets/arrow-right.svg');
    background-position: 0px 50%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
  }
}
a {
  text-decoration: none;
  border-bottom: 1px dotted $darkgreen;
  // color: $green;
  color: $darkgreen;
  background-size: 200%;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, $green 50%);
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  &:hover {
    color: white;
    background-position: -100% 0;
  }
}